torch
torchaudio
torchvision

openai-whisper
pyannote.audio

demucs

edge-tts

librosa
soundfile
numpy

deep-translator

moviepy
pydub

ffmpeg-python

TTS

speechbrain

asyncio